.home-image {
display: inline;
  width: 80%;
  height: auto;
  margin: 9rem;
  padding: 0.625rem;
  vertical-align: middle
}

.navbar-nav {
  /*font-size: 22px;*/
  font-weight: 500;
}

.h2 {
    margin: 0 0 30px;
    padding-bottom: 30px;
    position: relative;
    color: #000000;
    font-size: 25px;
    font-weight: 400;
    /*text-transform: uppercase;*/
    /*display:inline;*/
    /*padding: inherit;*/
    /*text-transform: uppercase;*/
}

.caption-content {
  display: flex;
  height: auto;
  /*margin: 20rem;*/
  padding-top: 20rem;
  padding-left: 5rem;
  align-items: center;
  vertical-align: middle;
}

.navbar-img {
  width: 100%;
  height: auto;
  /*margin: 2rem;*/
}

.requestButton {
  background: #FFFFFF ;
  outline: none;
  box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.50);
  border-radius: 57px;
  text-decoration: none;
  /* Request a Filter Copy: */
  font-family: AvenirNext-Medium;
  font-size: 1em;
  color: #000000 ;
  list-style-type: none;
}

.requestButton2 {
  background: #fffc00 ;
  outline: none;
  box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.50);
  border-radius: 57px;
  text-decoration: none;
  /* Request a Filter Copy: */
  font-family: AvenirNext-Medium;
  font-size: 1em;
  color: #000000 ;
}
