


div.abt_caption {
    display: block;
}

p.abt_us {
  margin: 1em;
  display: block;
  float: left;
  clear: both;
}

img.circular_brdr {
  display: inline-block;
  border-radius:50%;
  border-style: solid;
  border-width: thick;
  border-color: black;
  margin: 1em;
  /* margin-left: auto;
  margin-right: auto; */
}

div.row.headshot_div {
  padding: 1em;
  text-align: center;
}

body {
  padding-top: 100px;
}

div.fullimg {
  padding: 1em;
}

div.sl-slider-wrapper {
  padding-bottom: 1em;
  left: 5em
}

.home-image {
  margin: 1em;
  display: inline;
  width: 50%;
  height: auto;
  vertical-align: middle;
}

.navbar-nav {
  /*font-size: 22px;*/
  font-weight: 500;
}

.h2 {
    margin: 0 0 30px;
    padding-bottom: 30px;
    position: relative;
    color: #000000;
    font-size: 25px;
    font-weight: 400;
    /*text-transform: uppercase;*/
    /*display:inline;*/
    /*padding: inherit;*/
    /*text-transform: uppercase;*/
}

.caption-content {
  display: flex;
  height: auto;
  /*margin: 20rem;*/
  padding-top: 15rem;
  align-items: center;
  vertical-align: middle;
}

.navbar-img {
  width: 100%;
  height: auto;
  /*margin: 2rem;*/
}

.requestButton {
  background: #FFFFFF ;
  outline: none;
  box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.50);
  border-radius: 57px;
  text-decoration: none;
  /* Request a Filter Copy: */
  font-family: AvenirNext-Medium;
  font-size: 1em;
  color: #000000 ;
  list-style-type: none;
}

.requestButton2 {
  background: #fffc00 ;
  outline: none;
  box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.50);
  border-radius: 57px;
  text-decoration: none;
  /* Request a Filter Copy: */
  font-family: AvenirNext-Medium;
  font-size: 1em;
  color: #000000 ;
}
